@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Scrollbar */
body {
  @apply scrollbar scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-[#1f2937];
  scroll-behavior: smooth; /* Smooth Scrolling */
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width */
}

::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.8); /* Dark Glass Track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4a576c; /* bg-gray-700 Thumb */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Glass Border */
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* Smooth Hover Animation */
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Slightly lighter gray hover effect */
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Optional to Hide Scrollbar when not hovering */
}
